@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf"); }

@font-face {
  font-family: "Montserrat-light";
  src: url("/fonts/Montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: "Montserrat-semi-bold";
  src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf"); }

@font-face {
  font-family: "Source-sans-pro";
  src: url("/fonts/SourceSansPro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "Open-sans-light";
  src: url("/fonts/OpenSans/OpenSans-Light.ttf"); }

@font-face {
  font-family: "Open-sans-regular";
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf"); }

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media all and (max-width: 996px) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.homepage-intro {
  height: 780px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url("/img/Bitmap-min.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
  @media all and (max-width: 1200px) {
    .homepage-intro {
      height: 100vh;
      min-height: 700px; } }
  @media all and (max-width: 600px) {
    .homepage-intro {
      min-height: 600px; } }
  .homepage-intro__content-wrapper {
    width: 144rem;
    margin: 0 auto;
    padding-top: 21.8rem; }
    @media all and (max-width: 1439px) {
      .homepage-intro__content-wrapper {
        padding-top: 15.138888888888888vw;
        width: 100%; } }
  .homepage-intro__content-inner-wrapper {
    width: 84.5rem;
    margin: 0 auto; }
    @media all and (max-width: 1439px) {
      .homepage-intro__content-inner-wrapper {
        width: 58.68055555555556vw; } }
    @media all and (max-width: 600px) {
      .homepage-intro__content-inner-wrapper {
        width: 90%; } }
  .homepage-intro__title {
    width: 63.4rem;
    font-size: 4.8rem;
    line-height: 5.2rem;
    margin: 0 auto;
    font-family: "Montserrat-light";
    text-align: center;
    color: #fff;
    font-weight: 300; }
    @media all and (max-width: 1439px) {
      .homepage-intro__title {
        width: 44.02777777777778vw;
        font-size: 3.3333333333333335vw;
        line-height: 3.6111111111111107vw; } }
    @media all and (max-width: 996px) {
      .homepage-intro__title {
        width: 100%;
        font-size: 4.8rem;
        line-height: 5.2rem; } }
    @media all and (max-width: 600px) {
      .homepage-intro__title {
        font-size: 2.6rem; } }
  .homepage-intro__input-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 11.6rem; }
    @media all and (max-width: 1439px) {
      .homepage-intro__input-wrapper {
        margin-top: 8.055555555555555vw; } }
    @media all and (max-width: 996px) {
      .homepage-intro__input-wrapper {
        flex-direction: column;
        align-items: center; } }
  .homepage-intro__input {
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-size: 1.6rem;
    font-family: "Source-sans-pro"; }
    .homepage-intro__input:focus {
      outline: none; }
  .homepage-intro__location-icon {
    position: absolute;
    top: 1.9rem;
    left: 39.9rem; }
    @media all and (max-width: 1439px) {
      .homepage-intro__location-icon {
        top: 1.3194444444444444vw;
        left: 45%; } }
    @media all and (max-width: 1100px) {
      .homepage-intro__location-icon {
        left: 40%; } }
    @media all and (max-width: 996px) {
      .homepage-intro__location-icon {
        left: 90%; } }
  .homepage-intro__location {
    width: 43.7rem;
    padding: 2rem 4rem 1.7rem 1.9rem;
    color: #000;
    font-family: "Source-sans-pro"; }
    .homepage-intro__location::placeholder {
      font-size: 1.6rem;
      color: #6b696c; }
    @media all and (max-width: 1439px) {
      .homepage-intro__location {
        width: 30.34722222222222vw;
        padding: 1.3888888888888888vw 2.7777777777777777vw 1.1805555555555556vw 1.3194444444444444vw;
        margin-right: 5px; } }
    @media all and (max-width: 996px) {
      .homepage-intro__location {
        width: 100%;
        padding: 2rem 4rem 1.7rem 1.9rem;
        margin-right: 0px;
        margin-bottom: 1rem; } }
  .homepage-intro__property {
    width: 21.8rem;
    padding: 1.84rem 0px 1.7rem 1.9rem;
    -webkit-appearance: none; }
    .homepage-intro__property:invalid {
      color: #6b696c; }
    .homepage-intro__property option {
      color: #000;
      width: 21.8rem; }
      @media all and (max-width: 1439px) {
        .homepage-intro__property option {
          width: 15.138888888888888vw; } }
    @media all and (max-width: 1439px) {
      .homepage-intro__property {
        width: 15.138888888888888vw;
        padding: 1.2777777777777777vw 0px 1.1805555555555556vw 1.3194444444444444vw;
        margin-right: 5px; } }
    @media all and (max-width: 1075px) {
      .homepage-intro__property {
        padding-left: .7vw; } }
    @media all and (max-width: 996px) {
      .homepage-intro__property {
        width: 100%;
        padding: 1.84rem 0px 1.7rem 1.9rem;
        margin-right: 0px;
        margin-bottom: 1rem; } }
  .homepage-intro__property-icon {
    position: absolute;
    top: 2.5rem;
    left: 63.5rem;
    color: black; }
    @media all and (max-width: 1439px) {
      .homepage-intro__property-icon {
        left: 75%; } }
    @media all and (max-width: 1350px) {
      .homepage-intro__property-icon {
        left: 72%; } }
    @media all and (max-width: 1200px) {
      .homepage-intro__property-icon {
        left: 69%; } }
    @media all and (max-width: 1075px) {
      .homepage-intro__property-icon {
        left: 66.4%; } }
    @media all and (max-width: 996px) {
      .homepage-intro__property-icon {
        top: 9rem;
        left: 90%; } }
  .homepage-intro__btn-search {
    width: 17.7rem;
    display: flex;
    align-items: center;
    background-color: #50e3b3;
    padding: 1.8rem 5.4rem 1.6rem 3rem;
    border-radius: 5px;
    cursor: pointer; }
    .homepage-intro__btn-search__text {
      margin-left: 1.6rem;
      color: #fff; }
    @media all and (max-width: 996px) {
      .homepage-intro__btn-search {
        width: 100%;
        display: flex;
        justify-content: center; } }
  .homepage-intro__dots-wrapper {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    margin: 4.6rem auto 0px auto; }
  .homepage-intro__dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%; }
    .homepage-intro__dot:first-child {
      background-color: #50e3b3; }
  .homepage-intro__banner {
    width: 72.8rem;
    height: 9rem;
    background-color: #000;
    border: 1px solid #979797;
    margin: 0 auto;
    margin-top: 3.4rem; }
    @media all and (max-width: 1439px) {
      .homepage-intro__banner {
        width: 50.55555555555556vw;
        height: 6.25vw; } }
    @media all and (max-width: 1439px) {
      .homepage-intro__banner {
        width: 100%;
        height: 70px; } }
    @media all and (max-width: 600px) {
      .homepage-intro__banner {
        width: 100%;
        height: 50px; } }
  .homepage-intro__left-arrow {
    position: absolute;
    top: 41.7rem;
    left: 4.2rem;
    transform: rotate(90deg); }
    @media all and (max-width: 996px) {
      .homepage-intro__left-arrow {
        display: none; } }
  .homepage-intro__right-arrow {
    position: absolute;
    top: 41.7rem;
    right: 4.2rem;
    transform: rotate(-90deg); }
    @media all and (max-width: 996px) {
      .homepage-intro__right-arrow {
        display: none; } }

.header {
  display: flex;
  align-items: center;
  width: 144rem;
  margin: 0 auto;
  height: 7.9rem;
  padding: 3.1rem 0px 0px 3.5rem; }
  @media all and (max-width: 1439px) {
    .header {
      width: 100%;
      padding-left: 2.430555555555556vw; } }
  @media all and (max-width: 996px) {
    .header {
      justify-content: space-between;
      background-color: #24345c;
      padding-top: 0px;
      position: relative; } }
  @media all and (max-width: 1439px) {
    .header__logo {
      width: 13.194444444444445vw;
      min-width: 13rem; }
      .header__logo img {
        width: 100%; } }
  @media all and (max-width: 996px) {
    .header__logo {
      width: 152px; } }
  .header__visible {
    display: flex; }
    @media all and (max-width: 996px) {
      .header__visible {
        display: none; } }
  .header__dropdown {
    display: none;
    opacity: 1; }
    @media all and (max-width: 996px) {
      .header__dropdown {
        position: absolute;
        top: 63.2px;
        left: 0px;
        z-index: 1;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 3rem 0px;
        opacity: 0;
        background-color: rgba(36, 52, 92, 0.9);
        transform-origin: top;
        transition: opacity .6s;
        transform: scale(0); } }
  .header__wrapper {
    display: flex;
    align-items: center; }
  .header__nav {
    display: flex;
    font-size: 1.8rem;
    align-self: center;
    padding-top: 2px; }
    @media all and (max-width: 1439px) {
      .header__nav {
        font-size: 1.25vw; } }
    @media all and (max-width: 996px) {
      .header__nav {
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
        padding-bottom: 2rem; } }
    .header__nav__link {
      color: #d6d6d6; }
    .header__nav__first-item {
      padding-left: 4.2rem;
      white-space: nowrap; }
      @media all and (max-width: 1439px) {
        .header__nav__first-item {
          padding-left: 2.9166666666666665vw; } }
      @media all and (max-width: 996px) {
        .header__nav__first-item {
          padding-left: 0px; } }
    .header__nav__second-item {
      padding-left: 2.9rem; }
      @media all and (max-width: 1439px) {
        .header__nav__second-item {
          padding-left: 2.013888888888889vw; } }
      @media all and (max-width: 996px) {
        .header__nav__second-item {
          padding-left: 0px;
          margin-top: 1rem; } }
    .header__nav__third-item {
      padding-left: 5.1rem; }
      @media all and (max-width: 1439px) {
        .header__nav__third-item {
          padding-left: 3.5416666666666665vw; } }
      @media all and (max-width: 996px) {
        .header__nav__third-item {
          padding-left: 0px;
          margin-top: 1rem; } }
  .header__login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 21.4rem;
    color: #d6d6d6;
    font-size: 1.6rem; }
    @media all and (max-width: 1439px) {
      .header__login {
        margin-left: 11.86111111111111vw;
        font-size: 1.1111111111111112vw; } }
    @media all and (max-width: 996px) {
      .header__login {
        font-size: 2rem;
        margin-left: 0px;
        margin-top: 2rem; } }
    .header__login__text {
      white-space: nowrap; }
    .header__login__icon {
      margin-left: .8rem; }
      @media all and (max-width: 1439px) {
        .header__login__icon {
          margin-left: 0.5555555555555556vw; } }
  .header__language {
    display: flex;
    margin-left: 4.2rem; }
    @media all and (max-width: 996px) {
      .header__language {
        margin-left: 10px;
        margin-top: 2rem; } }
    @media all and (max-width: 1439px) {
      .header__language__flag {
        width: 2.2222222222222223vw; } }
    @media all and (max-width: 996px) {
      .header__language__flag {
        width: 32px; } }
    .header__language__arrow {
      margin-left: .5rem; }
  .header__hamburger {
    display: none;
    margin-right: 2rem;
    cursor: pointer; }
    @media all and (max-width: 996px) {
      .header__hamburger {
        display: block; } }
  .header .bar1, .header .bar2, .header .bar3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s; }
  .header .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px); }
  .header .change .bar2 {
    opacity: 0; }
  .header .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8.5px, -8.5px);
    transform: rotate(45deg) translate(-8.5px, -8.5px); }

.zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.6s;
  animation-fill-mode: forwards; }

.zoom-out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
  animation-fill-mode: forwards; }

@keyframes zoom-in {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes zoom-out {
  from {
    transform: scale(1); }
  to {
    transform: scale(0); } }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  transition: all .5s; }
  .btn:hover {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-3px); }
  .btn:active {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-1px); }
  .btn__nav-margin {
    margin-left: 24.4rem; }
    @media all and (max-width: 1439px) {
      .btn__nav-margin {
        margin-left: 16.944444444444446vw; } }
    @media all and (max-width: 1100px) {
      .btn__nav-margin {
        margin-left: 13.944444444444446vw; } }
    @media all and (max-width: 996px) {
      .btn__nav-margin {
        margin-left: 0px; } }

.btn--small {
  width: 16.8rem;
  height: 3.9rem; }
  @media all and (max-width: 700px) {
    .btn--small {
      width: 19rem; } }

.btn--medium {
  width: 21rem;
  height: 4.8rem;
  font-size: 1.8rem; }
  @media all and (max-width: 1439px) {
    .btn--medium {
      width: 14.583333333333334vw;
      min-width: 16.8rem;
      height: 3.3333333333333335vw;
      font-size: 1.25vw;
      padding: 0 5px; } }
  @media all and (max-width: 996px) {
    .btn--medium {
      width: 21rem;
      height: 4.8rem;
      font-size: 1.8rem; } }

.btn--large {
  width: 27.2rem;
  height: 6rem;
  font-size: 1.6rem;
  border: none;
  display: block;
  margin: 0 auto; }
  @media all and (max-width: 1439px) {
    .btn--large {
      width: 18.88888888888889VW;
      height: 4.166666666666666VW;
      font-size: 1.1111111111111112VW; } }
  @media all and (max-width: 996px) {
    .btn--large {
      width: 27.2rem;
      height: 6rem;
      font-size: 1.6rem; } }
  @media all and (max-width: 600px) {
    .btn--large {
      width: 27.25‬rem;
      height: 7.5‬rem;
      font-size: 1.625rem; } }

.btn--extra-large {
  width: 29rem;
  height: 6rem;
  font-size: 1.8rem; }

.btn--transparent {
  color: #d6d6d6;
  border: 2px solid #50e3b3;
  white-space: nowrap; }
  .btn--transparent:hover {
    background-color: #50e3b3;
    color: #fff; }

.btn--green {
  background-color: #50e3b3;
  color: #fff; }

.btn--blue {
  background-color: #24345c;
  color: #fff; }

.btn--light-yellow {
  background-color: #ffcd81;
  color: #fff; }

.btn--yellow {
  background-color: #ffb74a;
  color: #fff; }

.btn--video {
  width: 23.7rem;
  height: 6.3rem;
  padding: 1.2rem 2.8rem 1.3rem 1.5rem;
  font-size: 1.6rem;
  color: #6d7893;
  border: 1px solid #6d7893;
  margin-top: 3rem; }
  .btn--video:hover {
    background-color: #50e3b3;
    color: #fff; }

.info {
  height: 78rem;
  background-image: linear-gradient(rgba(24, 37, 69, 0.89), rgba(24, 37, 69, 0.89)), url("/img/office-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 19.7rem; }
  @media all and (max-width: 1439px) {
    .info {
      height: 100vh;
      padding-top: 7vw;
      height: fit-content; } }
  .info__content-wrapper {
    width: 144rem;
    margin: 0 auto;
    font-family: "Montserrat-light";
    padding-left: 29.1rem; }
    @media all and (max-width: 1439px) {
      .info__content-wrapper {
        width: 100%;
        padding-left: 20.208333333333332vw; } }
    @media all and (max-width: 600px) {
      .info__content-wrapper {
        width: 90%;
        padding: 0px; } }
  .info__title {
    font-size: 3.8rem;
    color: #fff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    line-height: 3.8rem;
    height: 7.5rem; }
    @media all and (max-width: 1439px) {
      .info__title {
        font-size: 2.638888888888889vw;
        line-height: 2.638888888888889vw;
        height: 5.208333333333334vw;
        width: 100%; } }
    @media all and (max-width: 996px) {
      .info__title {
        font-size: 3.8rem;
        line-height: 3.8rem;
        height: fit-content;
        width: 90%; } }
    @media all and (max-width: 600px) {
      .info__title {
        font-size: 2.25rem;
        line-height: 2.25rem; } }
  .info__text {
    color: #d6d6d6;
    font-size: 2.2rem;
    width: 83.7rem;
    margin-top: 4.2rem;
    line-height: 3.2rem; }
    @media all and (max-width: 1439px) {
      .info__text {
        width: 58.12500000000001vw;
        line-height: 2.638888888888889vw;
        font-size: 1.5277777777777777vw;
        margin-top: 2.9166666666666665vw; } }
    @media all and (max-width: 996px) {
      .info__text {
        font-size: 2.2rem;
        width: 90%;
        margin-top: 4.2rem;
        line-height: 3.2rem; } }
    @media all and (max-width: 600px) {
      .info__text {
        font-size: 1.8rem;
        line-height: 2.25rem; } }
  .info__btn-margin {
    margin-top: 5rem;
    margin-bottom: 10rem; }
    @media all and (max-width: 600px) {
      .info__btn-margin {
        margin-bottom: 5rem; } }

.advertise {
  height: 87.6rem;
  padding-top: 7.7rem; }
  @media all and (max-width: 1439px) {
    .advertise {
      padding-top: 5.347222222222222vw; } }
  @media all and (max-width: 1100px) {
    .advertise {
      height: 100vh;
      min-height: 600px; } }
  @media all and (max-width: 996px) {
    .advertise {
      height: fit-content; } }
  .advertise__content-wrapper {
    width: 144rem;
    margin: 0 auto;
    padding-left: 12.2rem; }
    @media all and (max-width: 1439px) {
      .advertise__content-wrapper {
        width: 100%;
        padding-left: 8.472222222222223vw; } }
    @media all and (max-width: 600px) {
      .advertise__content-wrapper {
        padding-left: 0px; } }
  .advertise__content-inner-wrapper {
    width: 119.8rem; }
    @media all and (max-width: 1439px) {
      .advertise__content-inner-wrapper {
        width: 83.19444444444444vw; } }
    @media all and (max-width: 600px) {
      .advertise__content-inner-wrapper {
        width: 90%;
        margin: 0 auto; } }
  .advertise__banner {
    width: 97rem;
    height: 25rem;
    background-color: #000;
    border: 1px solid #979797;
    margin-left: 13.2rem;
    display: flex; }
    @media all and (max-width: 1439px) {
      .advertise__banner {
        width: 67.36111111111111vw;
        height: 17.36111111111111vw;
        margin-left: 9.166666666666666vw; } }
    @media all and (max-width: 600px) {
      .advertise__banner {
        width: 100%;
        height: 250px;
        margin-left: 0px; } }
  .advertise__article {
    display: flex;
    width: 119.8rem;
    margin-top: 6.1rem; }
    @media all and (max-width: 1439px) {
      .advertise__article {
        width: 83.19444444444444vw;
        margin-top: 4.236111111111112vw; } }
    @media all and (max-width: 996px) {
      .advertise__article {
        width: 100%;
        flex-direction: column;
        align-items: center; } }
  .advertise__text {
    width: 54.3rem;
    color: #414042;
    line-height: 3.55rem;
    font-weight: 400; }
    @media all and (max-width: 1439px) {
      .advertise__text {
        width: 37.708333333333336vw;
        line-height: 2.4652777777777777vw; } }
    @media all and (max-width: 996px) {
      .advertise__text {
        width: 80%;
        text-align: center;
        line-height: 3.55rem; } }
    @media all and (max-width: 600px) {
      .advertise__text {
        width: 90%;
        text-align: left; } }
  .advertise__title {
    font-size: 3.6rem;
    font-weight: inherit; }
    @media all and (max-width: 1439px) {
      .advertise__title {
        font-size: 2.5vw; } }
    @media all and (max-width: 996px) {
      .advertise__title {
        font-size: 3.6rem; } }
    @media all and (max-width: 600px) {
      .advertise__title {
        font-size: 2.25rem; } }
  .advertise__subtitle {
    font-size: 2rem;
    color: #979797;
    font-weight: inherit;
    margin-top: 3.5rem; }
    @media all and (max-width: 1439px) {
      .advertise__subtitle {
        font-size: 1.3888888888888888vw;
        margin-top: 2.430555555555556vw; } }
    @media all and (max-width: 996px) {
      .advertise__subtitle {
        font-size: 2rem; } }
    @media all and (max-width: 600px) {
      .advertise__subtitle {
        font-size: 1.8rem; } }
  .advertise__paragraph {
    font-family: "Open-sans-light";
    color: #979797;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.7rem;
    margin-top: 3.4rem; }
    @media all and (max-width: 1439px) {
      .advertise__paragraph {
        font-size: 1.25vw;
        line-height: 1.875vw;
        margin-top: 2.361111111111111vw; } }
    @media all and (max-width: 996px) {
      .advertise__paragraph {
        font-size: 1.8rem;
        line-height: 2.7rem; } }
    @media all and (max-width: 600px) {
      .advertise__paragraph {
        font-size: 1.8rem; } }
  .advertise__img {
    width: 58rem;
    height: 34rem;
    margin-top: 6.3rem;
    margin-left: 9.9rem; }
    .advertise__img img {
      width: 100%;
      height: 100%; }
    @media all and (max-width: 1439px) {
      .advertise__img {
        width: 40.27777777777778vw;
        height: 23.61111111111111vw;
        margin-top: 4.375vw;
        margin-left: 6.875000000000001vw; } }
    @media all and (max-width: 996px) {
      .advertise__img {
        width: 58rem;
        height: 34rem;
        margin: 6.3rem auto 3rem auto; } }
    @media all and (max-width: 600px) {
      .advertise__img {
        width: 250px;
        height: 130px;
        margin-top: 3.6rem; } }
  .advertise__btn-margin {
    margin-top: 3.6rem; }
    @media all and (max-width: 1439px) {
      .advertise__btn-margin {
        margin-top: 2.5vw; } }
    @media all and (max-width: 996px) {
      .advertise__btn-margin {
        margin: auto;
        margin-top: 2.5vw; } }
    @media all and (max-width: 600px) {
      .advertise__btn-margin {
        margin-top: 3.6rem; } }

.footer {
  height: 24.4rem;
  background-color: #24345c;
  position: relative;
  font-size: 1.4rem;
  color: #d6d6d6;
  padding-top: 3rem; }
  @media all and (max-width: 1439px) {
    .footer {
      padding-top: 2.083333333333333vw; } }
  @media all and (max-width: 700px) {
    .footer {
      height: fit-content;
      font-size: 1.8rem; } }
  .footer__content-wrapper {
    width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    @media all and (max-width: 1439px) {
      .footer__content-wrapper {
        width: 100%; } }
  .footer__content {
    display: flex;
    padding-left: 8rem; }
    @media all and (max-width: 1439px) {
      .footer__content {
        padding-left: 5.555555555555555vw; } }
    @media all and (max-width: 996px) {
      .footer__content {
        padding-left: 2rem;
        margin: 0 auto; } }
    @media all and (max-width: 700px) {
      .footer__content {
        flex-direction: column;
        padding-left: 0px;
        margin: 0px auto; } }
  .footer__links {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #6d7893;
    width: 17rem;
    height: 12.6rem;
    padding-top: 1.1rem; }
    @media all and (max-width: 700px) {
      .footer__links {
        border-right: none; } }
    .footer__links__item {
      color: inherit;
      font-weight: 300; }
      .footer__links__item:not(:last-child) {
        padding-bottom: 1.8rem; }
    @media all and (max-width: 996px) {
      .footer__links {
        width: 15rem; } }
    @media all and (max-width: 700px) {
      .footer__links {
        width: 100%;
        margin-top: 2rem;
        order: 1; } }
  .footer__blog-faq {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #6d7893;
    width: 18.3rem;
    height: 12.6rem;
    padding-top: 1.1rem;
    padding-left: 3.3rem; }
    @media all and (max-width: 700px) {
      .footer__blog-faq {
        border-right: none; } }
    .footer__blog-faq__blog {
      color: inherit;
      padding-bottom: 2.1rem; }
    .footer__blog-faq__faq {
      color: inherit;
      text-transform: uppercase; }
    @media all and (max-width: 1439px) {
      .footer__blog-faq {
        padding-left: 2.2916666666666665vw; } }
    @media all and (max-width: 1100px) {
      .footer__blog-faq {
        width: 15rem; } }
    @media all and (max-width: 996px) {
      .footer__blog-faq {
        width: 8rem;
        padding-left: 1rem; } }
    @media all and (max-width: 700px) {
      .footer__blog-faq {
        padding-left: 0px;
        order: 2; } }
  .footer__address-wrapper {
    font-style: normal;
    font-family: "Open-sans-regular"; }
  .footer__address-inner-wrapper {
    display: flex;
    align-items: center;
    padding-top: .5rem; }
  .footer__address {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #6d7893;
    width: 30.1rem;
    height: 12.6rem;
    padding-top: 1.2rem;
    padding-left: 4.9rem; }
    @media all and (max-width: 700px) {
      .footer__address {
        border-right: none; } }
    .footer__address__city {
      font-family: "Montserrat";
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff; }
      @media all and (max-width: 700px) {
        .footer__address__city {
          font-size: 2.2rem; } }
    .footer__address__location-icon {
      padding-right: 1.2rem; }
    @media all and (max-width: 1439px) {
      .footer__address {
        padding-left: 3.4027777777777777vw; } }
    @media all and (max-width: 700px) {
      .footer__address {
        padding-left: 0px;
        padding-top: 3rem;
        height: fit-content;
        margin-bottom: 1rem;
        order: 5; } }
  .footer__mon-fri {
    padding-top: 1.9rem; }
  .footer__sat {
    padding-top: 1rem; }
  .footer__property {
    height: 12.6rem;
    width: 16.8rem;
    padding-top: 2.1rem;
    margin-left: 4.8rem; }
    .footer__property__text {
      font-size: 1.2rem;
      padding-left: 1.2rem;
      padding-bottom: 2.7rem; }
      @media all and (max-width: 700px) {
        .footer__property__text {
          display: none; } }
    @media all and (max-width: 1439px) {
      .footer__property {
        margin-left: 3.3333333333333335vw; } }
    @media all and (max-width: 700px) {
      .footer__property {
        width: fit-content;
        height: fit-content;
        order: 3; } }
  .footer__social-icons {
    width: fit-content;
    margin-left: 20rem;
    padding-top: 1.4rem; }
    .footer__social-icons__item:not(:first-child) {
      margin-left: 1rem; }
    .footer__social-icons div {
      display: inline;
      margin-left: 1rem; }
      @media all and (max-width: 1200px) {
        .footer__social-icons div {
          display: block;
          margin-left: 0px;
          margin-top: 1rem; } }
      @media all and (max-width: 700px) {
        .footer__social-icons div {
          display: inline-block;
          margin-left: 1rem; } }
    @media all and (max-width: 1439px) {
      .footer__social-icons {
        margin-left: 5rem; } }
    @media all and (max-width: 1200px) {
      .footer__social-icons {
        margin-left: 1rem; } }
    @media all and (max-width: 700px) {
      .footer__social-icons {
        order: 4;
        margin-bottom: 2rem; } }
  .footer__terms {
    display: flex;
    height: 5rem;
    padding-left: 8rem;
    border-top: 1px solid #6d7893;
    margin-top: 3.5rem;
    align-items: center;
    font-family: "Montserrat-light"; }
    @media all and (max-width: 1439px) {
      .footer__terms {
        padding-left: 5.555555555555555vw; } }
    @media all and (max-width: 996px) {
      .footer__terms {
        margin: 0 auto;
        margin-top: 3.5rem;
        padding-left: 2rem; } }
    @media all and (max-width: 700px) {
      .footer__terms {
        height: fit-content;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        margin-top: 3rem;
        padding-top: 3rem;
        text-align: start;
        align-items: flex-start; } }
    @media all and (max-width: 700px) {
      .footer__terms__privacy {
        order: 2;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: -60px; } }
    .footer__terms__general {
      margin-left: 5.8rem; }
      @media all and (max-width: 700px) {
        .footer__terms__general {
          order: 1;
          margin-left: 0px;
          padding-bottom: 2rem;
          display: flex;
          justify-content: center;
          width: 100%; } }
    .footer__terms__rights {
      margin-left: 66.6rem; }
      @media all and (max-width: 1439px) {
        .footer__terms__rights {
          margin-left: 51.6rem; } }
      @media all and (max-width: 1200px) {
        .footer__terms__rights {
          margin-left: 35rem; } }
      @media all and (max-width: 996px) {
        .footer__terms__rights {
          margin-left: 24rem; } }
      @media all and (max-width: 700px) {
        .footer__terms__rights {
          order: 3;
          margin-left: 0px;
          padding-bottom: 2rem;
          border-top: 1px solid #6d7893;
          padding-top: 3rem;
          display: flex;
          justify-content: center;
          width: 100%; } }
