@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf"); }

@font-face {
  font-family: "Montserrat-light";
  src: url("/fonts/Montserrat/Montserrat-Light.ttf"); }

@font-face {
  font-family: "Montserrat-semi-bold";
  src: url("/fonts/Montserrat/Montserrat-SemiBold.ttf"); }

@font-face {
  font-family: "Source-sans-pro";
  src: url("/fonts/SourceSansPro/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: "Open-sans-light";
  src: url("/fonts/OpenSans/OpenSans-Light.ttf"); }

@font-face {
  font-family: "Open-sans-regular";
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf"); }

*, *::before, *::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media all and (max-width: 996px) {
    html {
      font-size: 50%; } }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  transition: all .5s; }
  .btn:hover {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-3px); }
  .btn:active {
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.75);
    transform: translateY(-1px); }
  .btn__nav-margin {
    margin-left: 24.4rem; }
    @media all and (max-width: 1439px) {
      .btn__nav-margin {
        margin-left: 16.944444444444446vw; } }
    @media all and (max-width: 1100px) {
      .btn__nav-margin {
        margin-left: 13.944444444444446vw; } }
    @media all and (max-width: 996px) {
      .btn__nav-margin {
        margin-left: 0px; } }

.btn--small {
  width: 16.8rem;
  height: 3.9rem; }
  @media all and (max-width: 700px) {
    .btn--small {
      width: 19rem; } }

.btn--medium {
  width: 21rem;
  height: 4.8rem;
  font-size: 1.8rem; }
  @media all and (max-width: 1439px) {
    .btn--medium {
      width: 14.583333333333334vw;
      min-width: 16.8rem;
      height: 3.3333333333333335vw;
      font-size: 1.25vw;
      padding: 0 5px; } }
  @media all and (max-width: 996px) {
    .btn--medium {
      width: 21rem;
      height: 4.8rem;
      font-size: 1.8rem; } }

.btn--large {
  width: 27.2rem;
  height: 6rem;
  font-size: 1.6rem;
  border: none;
  display: block;
  margin: 0 auto; }
  @media all and (max-width: 1439px) {
    .btn--large {
      width: 18.88888888888889VW;
      height: 4.166666666666666VW;
      font-size: 1.1111111111111112VW; } }
  @media all and (max-width: 996px) {
    .btn--large {
      width: 27.2rem;
      height: 6rem;
      font-size: 1.6rem; } }
  @media all and (max-width: 600px) {
    .btn--large {
      width: 27.25‬rem;
      height: 7.5‬rem;
      font-size: 1.625rem; } }

.btn--extra-large {
  width: 29rem;
  height: 6rem;
  font-size: 1.8rem; }

.btn--transparent {
  color: #d6d6d6;
  border: 2px solid #50e3b3;
  white-space: nowrap; }
  .btn--transparent:hover {
    background-color: #50e3b3;
    color: #fff; }

.btn--green {
  background-color: #50e3b3;
  color: #fff; }

.btn--blue {
  background-color: #24345c;
  color: #fff; }

.btn--light-yellow {
  background-color: #ffcd81;
  color: #fff; }

.btn--yellow {
  background-color: #ffb74a;
  color: #fff; }

.btn--video {
  width: 23.7rem;
  height: 6.3rem;
  padding: 1.2rem 2.8rem 1.3rem 1.5rem;
  font-size: 1.6rem;
  color: #6d7893;
  border: 1px solid #6d7893;
  margin-top: 3rem; }
  .btn--video:hover {
    background-color: #50e3b3;
    color: #fff; }

.header, .header-pricing {
  display: flex;
  align-items: center;
  width: 144rem;
  margin: 0 auto;
  height: 7.9rem;
  padding: 3.1rem 0px 0px 3.5rem; }
  @media all and (max-width: 1439px) {
    .header, .header-pricing {
      width: 100%;
      padding-left: 2.430555555555556vw; } }
  @media all and (max-width: 996px) {
    .header, .header-pricing {
      justify-content: space-between;
      background-color: #24345c;
      padding-top: 0px;
      position: relative; } }
  @media all and (max-width: 1439px) {
    .header__logo {
      width: 13.194444444444445vw;
      min-width: 13rem; }
      .header__logo img {
        width: 100%; } }
  @media all and (max-width: 996px) {
    .header__logo {
      width: 152px; } }
  .header__visible {
    display: flex; }
    @media all and (max-width: 996px) {
      .header__visible {
        display: none; } }
  .header__dropdown {
    display: none;
    opacity: 1; }
    @media all and (max-width: 996px) {
      .header__dropdown {
        position: absolute;
        top: 63.2px;
        left: 0px;
        z-index: 1;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding: 3rem 0px;
        opacity: 0;
        background-color: rgba(36, 52, 92, 0.9);
        transform-origin: top;
        transition: opacity .6s;
        transform: scale(0); } }
  .header__wrapper {
    display: flex;
    align-items: center; }
  .header__nav {
    display: flex;
    font-size: 1.8rem;
    align-self: center;
    padding-top: 2px; }
    @media all and (max-width: 1439px) {
      .header__nav {
        font-size: 1.25vw; } }
    @media all and (max-width: 996px) {
      .header__nav {
        flex-direction: column;
        align-items: center;
        font-size: 2.2rem;
        padding-bottom: 2rem; } }
    .header__nav__link, .header-pricing__nav__link {
      color: #d6d6d6; }
    .header__nav__first-item {
      padding-left: 4.2rem;
      white-space: nowrap; }
      @media all and (max-width: 1439px) {
        .header__nav__first-item {
          padding-left: 2.9166666666666665vw; } }
      @media all and (max-width: 996px) {
        .header__nav__first-item {
          padding-left: 0px; } }
    .header__nav__second-item {
      padding-left: 2.9rem; }
      @media all and (max-width: 1439px) {
        .header__nav__second-item {
          padding-left: 2.013888888888889vw; } }
      @media all and (max-width: 996px) {
        .header__nav__second-item {
          padding-left: 0px;
          margin-top: 1rem; } }
    .header__nav__third-item, .header-pricing__nav__third-item {
      padding-left: 5.1rem; }
      @media all and (max-width: 1439px) {
        .header__nav__third-item, .header-pricing__nav__third-item {
          padding-left: 3.5416666666666665vw; } }
      @media all and (max-width: 996px) {
        .header__nav__third-item, .header-pricing__nav__third-item {
          padding-left: 0px;
          margin-top: 1rem; } }
  .header__login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 21.4rem;
    color: #d6d6d6;
    font-size: 1.6rem; }
    @media all and (max-width: 1439px) {
      .header__login {
        margin-left: 11.86111111111111vw;
        font-size: 1.1111111111111112vw; } }
    @media all and (max-width: 996px) {
      .header__login {
        font-size: 2rem;
        margin-left: 0px;
        margin-top: 2rem; } }
    .header__login__text {
      white-space: nowrap; }
    .header__login__icon {
      margin-left: .8rem; }
      @media all and (max-width: 1439px) {
        .header__login__icon {
          margin-left: 0.5555555555555556vw; } }
  .header__language, .header-pricing__language {
    display: flex;
    margin-left: 4.2rem; }
    @media all and (max-width: 996px) {
      .header__language, .header-pricing__language {
        margin-left: 10px;
        margin-top: 2rem; } }
    @media all and (max-width: 1439px) {
      .header__language__flag {
        width: 2.2222222222222223vw; } }
    @media all and (max-width: 996px) {
      .header__language__flag {
        width: 32px; } }
    .header__language__arrow {
      margin-left: .5rem; }
  .header__hamburger {
    display: none;
    margin-right: 2rem;
    cursor: pointer; }
    @media all and (max-width: 996px) {
      .header__hamburger {
        display: block; } }
  .header .bar1, .header-pricing .bar1, .header .bar2, .header-pricing .bar2, .header .bar3, .header-pricing .bar3 {
    width: 35px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s; }
  .header .change .bar1, .header-pricing .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px); }
  .header .change .bar2, .header-pricing .change .bar2 {
    opacity: 0; }
  .header .change .bar3, .header-pricing .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8.5px, -8.5px);
    transform: rotate(45deg) translate(-8.5px, -8.5px); }

.zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.6s;
  animation-fill-mode: forwards; }

.zoom-out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
  animation-fill-mode: forwards; }

@keyframes zoom-in {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes zoom-out {
  from {
    transform: scale(1); }
  to {
    transform: scale(0); } }

@media all and (min-width: 1440px) {
  .header-pricing__outer-wrapper {
    background-color: #24345c; } }

.header-pricing {
  align-items: flex-start;
  background-color: #24345c;
  padding: 1.1rem 0px 0px 1.5rem;
  height: 7rem; }
  @media all and (max-width: 1439px) {
    .header-pricing {
      align-items: center; } }
  .header-pricing__nav__link {
    display: flex;
    align-items: center; }
  .header-pricing__nav-arrow {
    transform: rotate(-90deg);
    margin-left: .7rem; }
  .header-pricing__nav-link {
    padding-left: 3.3rem; }
  .header-pricing__nav__third-item {
    padding-left: 3.3rem; }
  .header-pricing__user-info {
    display: flex;
    margin-left: 17.9rem; }
    @media all and (max-width: 1439px) {
      .header-pricing__user-info {
        margin-left: 9.430555555555555vw;
        font-size: 1.1111111111111112vw; } }
    @media all and (max-width: 996px) {
      .header-pricing__user-info {
        font-size: 2rem;
        margin-left: 0px;
        margin-top: 2rem; } }
    .header-pricing__user-info__inner-wrapper {
      display: flex;
      align-items: center; }
    .header-pricing__user-info__number {
      font-size: 1.8rem;
      color: #d6d6d6;
      margin-left: .9rem; }
      @media all and (max-width: 1439px) {
        .header-pricing__user-info__number {
          font-size: 1.25vw; } }
    .header-pricing__user-info__avatar {
      margin-left: 3.1rem; }
      @media all and (max-width: 1439px) {
        .header-pricing__user-info__avatar {
          margin-left: 2.1527777777777777vw; } }
  .header-pricing__language {
    margin-left: 3.6rem; }
  .header-pricing .header__dropdown {
    top: 7rem; }

.choose {
  padding-top: 3.1rem;
  width: 144rem;
  margin: 0 auto; }
  @media all and (max-width: 1439px) {
    .choose {
      padding-top: 2.1527777777777777vw;
      width: 100%; } }
  .choose__content-wrapper {
    display: flex;
    flex-direction: column; }
  .choose__heading {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-left: 1.3rem;
    padding-right: 1.8rem;
    width: 107.6rem;
    height: 13.55rem;
    border-bottom: 2px solid #414042;
    margin: 0 auto; }
    @media all and (max-width: 1439px) {
      .choose__heading {
        padding-left: 0.9027777777777777vw;
        padding-right: 1.25vw;
        width: 74.72222222222223vw;
        height: 9.409722222222221vw; } }
    @media all and (max-width: 996px) {
      .choose__heading {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        height: fit-content;
        align-items: center; } }
  .choose__title {
    font-size: 3.6rem;
    color: #414042;
    margin-top: 8.5rem;
    margin-right: 14.8rem; }
    @media all and (max-width: 1439px) {
      .choose__title {
        font-size: 2.5vw;
        margin-top: 5.902777777777778vw;
        margin-right: 10.277777777777777vw; } }
    @media all and (max-width: 996px) {
      .choose__title {
        font-size: 3.6rem;
        margin-top: 5rem;
        margin-right: 0px; } }
    @media all and (max-width: 600px) {
      .choose__title {
        font-size: 2.6rem; } }
  .choose__img {
    width: 58.3rem;
    height: 13.4rem; }
    @media all and (max-width: 1439px) {
      .choose__img {
        width: 40.486111111111114vw;
        height: 9.305555555555555vw; } }
    @media all and (max-width: 996px) {
      .choose__img {
        width: 58.3rem;
        height: 13.4rem; } }
    @media all and (max-width: 600px) {
      .choose__img {
        width: 30.375rem;
        height: 7rem; } }
    .choose__img img {
      width: 100%;
      height: 100%; }
  .choose__paragraph {
    font-family: "Open-sans-light";
    font-size: 1.8rem;
    color: #414042;
    padding: 5.1rem 39.5rem 5.3rem 40.1rem; }
    @media all and (max-width: 1439px) {
      .choose__paragraph {
        font-size: 1.25vw;
        padding: 3.5416666666666665vw 27.430555555555557vw 3.680555555555556vw 27.84722222222222vw; } }
    @media all and (max-width: 996px) {
      .choose__paragraph {
        font-size: 1.8rem;
        padding-left: 0px;
        padding-right: 0px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 7rem; } }
    @media all and (max-width: 600px) {
      .choose__paragraph {
        font-size: 1.8rem;
        line-height: 2.25rem;
        padding-bottom: 4rem; } }

.pricing-plan {
  margin: 0 auto;
  max-width: 144rem;
  width: 100%;
  padding: 0 61px; }
  @media all and (max-width: 1439px) {
    .pricing-plan {
      padding: 0 4.236111111111112VW; } }
  @media all and (max-width: 996px) {
    .pricing-plan {
      padding: 0;
      width: 65%; } }
  @media all and (max-width: 600px) {
    .pricing-plan {
      width: 85%; } }
  .pricing-plan__offer {
    display: flex;
    justify-content: space-between; }
    @media all and (max-width: 996px) {
      .pricing-plan__offer {
        flex-direction: column; } }
  .pricing-plan__billing, .pricing-plan__item {
    width: 25%; }
    @media all and (max-width: 996px) {
      .pricing-plan__billing, .pricing-plan__item {
        width: 100%; } }
  .pricing-plan__billing__content, .pricing-plan__item__content {
    height: 195px; }
    @media all and (max-width: 1439px) {
      .pricing-plan__billing__content, .pricing-plan__item__content {
        height: 13.541666666666666VW; } }
    @media all and (max-width: 996px) {
      .pricing-plan__billing__content, .pricing-plan__item__content {
        height: auto; } }
  .pricing-plan__billing__content {
    border: 1px solid #d5d5d5;
    align-self: flex-start;
    padding: 3.6rem 0 3.7rem 5.8rem; }
    @media all and (max-width: 1439px) {
      .pricing-plan__billing__content {
        padding: 2.5vw 0 2.569444444444444vw 4.027777777777778vw; } }
    @media all and (max-width: 996px) {
      .pricing-plan__billing__content {
        border: none;
        padding: 0; } }
    .pricing-plan__billing__content .pricing-plan__billing__content__wrapper {
      display: flex;
      flex-direction: column;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; }
      @media all and (max-width: 996px) {
        .pricing-plan__billing__content .pricing-plan__billing__content__wrapper {
          margin-bottom: 1.2rem; } }
      @media all and (max-width: 600px) {
        .pricing-plan__billing__content .pricing-plan__billing__content__wrapper {
          margin-bottom: 1.5rem; } }
      .pricing-plan__billing__content .pricing-plan__billing__content__wrapper h5 {
        font-size: 1.8rem;
        font-weight: 300; }
        @media all and (max-width: 1439px) {
          .pricing-plan__billing__content .pricing-plan__billing__content__wrapper h5 {
            font-size: 1.25vw; } }
        @media all and (max-width: 996px) {
          .pricing-plan__billing__content .pricing-plan__billing__content__wrapper h5 {
            font-size: 1.8rem;
            margin-bottom: 0; } }
        @media all and (max-width: 600px) {
          .pricing-plan__billing__content .pricing-plan__billing__content__wrapper h5 {
            font-size: 1.75rem; } }
        .pricing-plan__billing__content .pricing-plan__billing__content__wrapper h5 span {
          font-weight: 700; }
      .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch {
        position: relative;
        display: block;
        width: 6.9rem;
        height: 3.5rem;
        margin: 1.9rem 0 1.5rem 6.8rem; }
        @media all and (max-width: 1439px) {
          .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch {
            margin: 1.3194444444444444VW 0 1.0416666666666665VW 4.722222222222222VW; } }
        @media all and (max-width: 996px) {
          .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch {
            margin: 0;
            width: 6.9rem;
            height: 3.5rem; } }
        .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch input {
          opacity: 0;
          width: 0;
          height: 0; }
          .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch input:checked + .pricing-plan__billing__content__wrapper__switch__slider:before {
            -webkit-transform: translateX(3.3rem);
            -ms-transform: translateX(3.3rem);
            transform: translateX(3.3rem); }
          @media all and (max-width: 1439px) {
            .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch input {
              -webkit-transform: translateX(2.29167VW);
              -ms-transform: translateX(2.29167VW);
              transform: translateX(2.29167VW); } }
          @media all and (max-width: 996px) {
            .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch input {
              -webkit-transform: translateX(3.3rem);
              -ms-transform: translateX(3.3rem);
              transform: translateX(3.3rem); } }
        .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch__slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #fff;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 34px;
          border: 1px solid #a0a0a1; }
        .pricing-plan__billing__content .pricing-plan__billing__content__wrapper__switch__slider:before {
          position: absolute;
          content: "";
          height: 2.3rem;
          width: 2.3rem;
          bottom: calc(50% - 2.3rem / 2);
          left: 0.6rem;
          background-color: #c2f5e5;
          border: 1px solid #50e3b3;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%; }
    .pricing-plan__billing__content h6 {
      color: #ffcd81;
      font-size: 2.5rem;
      margin-left: 4.6rem; }
      @media all and (max-width: 1439px) {
        .pricing-plan__billing__content h6 {
          font-size: 1.7361111111111112VW;
          margin-left: 3.194444444444444VW; } }
      @media all and (max-width: 996px) {
        .pricing-plan__billing__content h6 {
          margin-left: 0;
          margin-bottom: 1.9rem;
          font-size: 2.5rem; } }
      @media all and (max-width: 600px) {
        .pricing-plan__billing__content h6 {
          font-size: 1.75rem;
          margin-bottom: 2.375rem; } }
  .pricing-plan__item {
    margin-left: 0.4rem;
    text-align: center; }
    @media all and (max-width: 1439px) {
      .pricing-plan__item {
        margin-left: 0.2777777777777778VW; } }
    @media all and (max-width: 996px) {
      .pricing-plan__item {
        margin-left: 0; } }
    .pricing-plan__item:last-of-type .pricing-plan__item__mobile-table {
      margin-bottom: 0; }
    @media all and (max-width: 996px) {
      .pricing-plan__item .buy-register-btn {
        display: none; } }
    .pricing-plan__item h5 {
      font-size: 2.1rem;
      font-weight: 700;
      color: #fff;
      text-align: start;
      margin-bottom: 0.8rem;
      display: flex;
      align-items: center;
      text-transform: uppercase; }
      @media all and (max-width: 1439px) {
        .pricing-plan__item h5 {
          font-size: 1.4583333333333333VW;
          margin-bottom: 0.5555555555555556VW; } }
      @media all and (max-width: 996px) {
        .pricing-plan__item h5 {
          justify-content: center;
          font-size: 2.1rem;
          margin-bottom: 0.8rem; } }
      @media all and (max-width: 600px) {
        .pricing-plan__item h5 {
          font-size: 2.125rem;
          margin-bottom: 1.25rem; } }
      .pricing-plan__item h5 img {
        margin-right: 1.1rem;
        width: 21px; }
        @media all and (max-width: 1439px) {
          .pricing-plan__item h5 img {
            margin-right: 0.7638888888888888VW;
            width: 1.4583333333333333VW; } }
        @media all and (max-width: 996px) {
          .pricing-plan__item h5 img {
            margin-right: 1.1rem;
            width: 21px; } }
        @media all and (max-width: 600px) {
          .pricing-plan__item h5 img {
            width: 2.25rem;
            margin-right: 0.875rem; } }
    .pricing-plan__item__quantity {
      color: #fff;
      font-size: 2.1rem;
      font-weight: 500;
      margin-bottom: 1.7rem; }
      @media all and (max-width: 1439px) {
        .pricing-plan__item__quantity {
          font-size: 1.4583333333333333VW;
          margin-bottom: 1.1805555555555556VW; } }
      @media all and (max-width: 996px) {
        .pricing-plan__item__quantity {
          font-size: 2.1rem;
          margin-bottom: 1.7rem; } }
      @media all and (max-width: 600px) {
        .pricing-plan__item__quantity {
          font-size: 2.125rem;
          margin-bottom: 2.375rem; } }
    .pricing-plan__item__discount-price {
      font-size: 4.5rem;
      font-weight: 700;
      color: #fff;
      display: inline-block; }
      @media all and (max-width: 1439px) {
        .pricing-plan__item__discount-price {
          font-size: 3.125VW; } }
      @media all and (max-width: 996px) {
        .pricing-plan__item__discount-price {
          font-size: 4.5rem; } }
      @media all and (max-width: 600px) {
        .pricing-plan__item__discount-price {
          font-size: 4.5rem; } }
    .pricing-plan__item__old-price {
      font-size: 2.1rem;
      font-weight: 500;
      position: relative;
      color: #000;
      margin-bottom: 1px; }
      @media all and (max-width: 1439px) {
        .pricing-plan__item__old-price {
          font-size: 1.4583333333333333VW; } }
      @media all and (max-width: 996px) {
        .pricing-plan__item__old-price {
          font-size: 2.1rem; } }
      @media all and (max-width: 600px) {
        .pricing-plan__item__old-price {
          font-size: 2.125rem; } }
      .pricing-plan__item__old-price:before {
        content: '';
        position: absolute;
        width: 7rem;
        height: 1px;
        background-color: #000;
        top: calc(50% - 1px);
        left: calc(50% - 3.5rem); }
        @media all and (max-width: 1439px) {
          .pricing-plan__item__old-price:before {
            width: 4.861111111111112VW;
            left: calc(50% - 2.430555555555556VW); } }
        @media all and (max-width: 996px) {
          .pricing-plan__item__old-price:before {
            width: 7rem;
            left: calc(50% - 3.5rem); } }
    .pricing-plan__item__content {
      margin-bottom: 3.7rem; }
      @media all and (max-width: 1439px) {
        .pricing-plan__item__content {
          margin-bottom: 2.569444444444444VW; } }
      @media all and (max-width: 996px) {
        .pricing-plan__item__content {
          margin-bottom: 0.4rem; } }
    .pricing-plan__item__content--mint-green {
      background-color: #50e3c2;
      padding: 2.4rem 0 1.6rem 3.6rem; }
      @media all and (max-width: 1439px) {
        .pricing-plan__item__content--mint-green {
          padding: 1.6666666666666667VW 0 1.1111111111111112VW 2.5VW; } }
      @media all and (max-width: 996px) {
        .pricing-plan__item__content--mint-green {
          padding: 2.4rem 0 1.6rem 0; } }
      @media all and (max-width: 600px) {
        .pricing-plan__item__content--mint-green {
          padding: 2.75rem 0; } }
    .pricing-plan__item__content--light-yellow {
      background-color: #ffcd81; }
    .pricing-plan__item__content--yellow {
      background-color: #ffb74a; }
    .pricing-plan__item__content--light-yellow, .pricing-plan__item__content--yellow {
      padding: 2.4rem 0 1.6rem 2rem; }
      @media all and (max-width: 1439px) {
        .pricing-plan__item__content--light-yellow, .pricing-plan__item__content--yellow {
          padding: 1.6666666666666667VW 0 1.1111111111111112VW 1.3888888888888888VW; } }
      @media all and (max-width: 996px) {
        .pricing-plan__item__content--light-yellow, .pricing-plan__item__content--yellow {
          padding: 2.4rem 0 1.6rem 0; } }
      @media all and (max-width: 600px) {
        .pricing-plan__item__content--light-yellow, .pricing-plan__item__content--yellow {
          padding: 2.75rem 0; } }
    .pricing-plan__item__mobile-table {
      display: none;
      margin-bottom: 3rem;
      border: 1px solid #d5d5d5; }
      @media all and (max-width: 996px) {
        .pricing-plan__item__mobile-table {
          display: block; } }
      @media all and (max-width: 600px) {
        .pricing-plan__item__mobile-table {
          margin-bottom: 3.75rem; } }
      .pricing-plan__item__mobile-table__row {
        border-bottom: 1px solid #d5d5d5;
        display: flex;
        justify-content: space-between;
        color: #414042;
        font-size: 1.4rem;
        height: 6.2rem;
        padding: 1rem 2.4rem 0 3.1rem; }
        @media all and (max-width: 600px) {
          .pricing-plan__item__mobile-table__row {
            font-size: 1.75rem;
            height: 7.75rem;
            padding: 1.25rem 3rem 0 3.875rem; } }
        .pricing-plan__item__mobile-table__row .pricing-plan__item__mobile-table__row__img {
          align-self: center; }
        .pricing-plan__item__mobile-table__row:first-of-type {
          padding: 1.3rem 3rem 3.7rem 3.1rem; }
          @media all and (max-width: 600px) {
            .pricing-plan__item__mobile-table__row:first-of-type {
              padding: 1.625rem 3.75rem 4.625‬rem 3.875rem; } }
        .pricing-plan__item__mobile-table__row:last-of-type {
          border-bottom: none;
          padding: 1.4rem 0 1.7rem;
          height: auto; }
          @media all and (max-width: 600px) {
            .pricing-plan__item__mobile-table__row:last-of-type {
              padding: 1.75‬rem 0 2.125rem; } }
  .pricing-plan__table {
    width: 100%;
    border: 2px solid #d5d5d5;
    border-collapse: collapse;
    margin-top: 3.6rem; }
    @media all and (max-width: 1439px) {
      .pricing-plan__table {
        margin-top: 2.5VW; } }
    @media all and (max-width: 996px) {
      .pricing-plan__table {
        display: none; } }
    .pricing-plan__table tr:first-of-type td {
      padding: 1.7rem 0 4.2rem 3.7rem; }
      @media all and (max-width: 1439px) {
        .pricing-plan__table tr:first-of-type td {
          padding: 1.1805555555555556VW 0 2.9166666666666665VW 2.569444444444444VW; } }
      .pricing-plan__table tr:first-of-type td:nth-of-type(2) {
        padding: 1.7rem 0 4.2rem 3rem; }
        @media all and (max-width: 1439px) {
          .pricing-plan__table tr:first-of-type td:nth-of-type(2) {
            padding: 1.1805555555555556VW 0 2.9166666666666665VW 2.083333333333333VW; } }
      .pricing-plan__table tr:first-of-type td:nth-of-type(3) {
        padding: 1.7rem 0 4.2rem 3.4rem; }
        @media all and (max-width: 1439px) {
          .pricing-plan__table tr:first-of-type td:nth-of-type(3) {
            padding: 1.1805555555555556VW 0 2.9166666666666665VW 2.361111111111111VW; } }
    .pricing-plan__table tr:last-of-type td {
      padding: 3rem 2.6rem;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 700; }
      @media all and (max-width: 1439px) {
        .pricing-plan__table tr:last-of-type td {
          font-size: 2.5VW;
          padding: 2.083333333333333VW 1.8055555555555554VW; } }
      .pricing-plan__table tr:last-of-type td div {
        margin-bottom: 2.4rem; }
        @media all and (max-width: 1439px) {
          .pricing-plan__table tr:last-of-type td div {
            margin-bottom: 1.6666666666666667VW; } }
      .pricing-plan__table tr:last-of-type td:first-of-type {
        color: #50e3c2; }
      .pricing-plan__table tr:last-of-type td:nth-of-type(2) {
        color: #ffcd81; }
      .pricing-plan__table tr:last-of-type td:nth-of-type(3) {
        color: #ffb74a; }
    .pricing-plan__table th,
    .pricing-plan__table td {
      width: 25%;
      border: 1px solid #d5d5d5;
      font-size: 1.8rem;
      color: #414042;
      font-weight: 400; }
      @media all and (max-width: 1439px) {
        .pricing-plan__table th,
        .pricing-plan__table td {
          font-size: 1.25VW; } }
    .pricing-plan__table th {
      text-align: start;
      padding: 1.2rem 0 4.6rem 3.9rem;
      position: relative; }
      @media all and (max-width: 1439px) {
        .pricing-plan__table th {
          padding: 0.8333333333333334VW 0 3.194444444444444VW 2.7083333333333335VW; } }
      .pricing-plan__table th .pricing-plan__table__info-icon {
        height: 29px;
        width: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        position: absolute;
        top: calc(50% - 29px/2);
        left: calc(-29px/2); }
        @media all and (max-width: 1439px) {
          .pricing-plan__table th .pricing-plan__table__info-icon {
            height: 2.013888888888889VW;
            width: 2.013888888888889VW;
            top: calc(50% - 2.013888888888889VW/2);
            left: calc(-2.013888888888889VW/2); } }
        .pricing-plan__table th .pricing-plan__table__info-icon img {
          width: 21px; }
          @media all and (max-width: 1439px) {
            .pricing-plan__table th .pricing-plan__table__info-icon img {
              width: 1.4583333333333333VW; } }
    .pricing-plan__table td {
      padding: 3.2rem 0 2.5rem 3.2rem; }
      .pricing-plan__table td img {
        max-width: 23px; }
        @media all and (max-width: 1439px) {
          .pricing-plan__table td img {
            max-width: 1.597222222222222VW; } }

.packages {
  width: 144rem;
  margin: 0 auto;
  padding: 14.6rem 21rem 17.2rem 17.9rem; }
  @media all and (max-width: 1439px) {
    .packages {
      padding: 10.13888888888889VW 14.583333333333334VW 11.944444444444445VW 12.430555555555555VW;
      width: 100%; } }
  @media all and (max-width: 996px) {
    .packages {
      padding-left: 0px;
      padding-right: 0px; } }
  .packages__content-wrapper {
    display: flex;
    align-items: center; }
    @media all and (max-width: 996px) {
      .packages__content-wrapper {
        flex-direction: column; } }
  .packages__text {
    width: 72.1rem;
    text-align: justify;
    color: #414042;
    margin-right: 9.3rem; }
    @media all and (max-width: 1439px) {
      .packages__text {
        width: 50.06944444444444VW;
        margin-right: 6.458333333333334VW; } }
    @media all and (max-width: 996px) {
      .packages__text {
        width: 90%;
        margin-right: 0px;
        text-align: center; } }
    .packages__text__title {
      font-size: 2.7rem;
      margin-bottom: 2.8rem; }
      @media all and (max-width: 1439px) {
        .packages__text__title {
          font-size: 1.875VW;
          margin-bottom: 1.9444444444444444VW; } }
      @media all and (max-width: 996px) {
        .packages__text__title {
          font-size: 2.7rem; } }
      @media all and (max-width: 600px) {
        .packages__text__title {
          font-size: 2.25rem; } }
    .packages__text__paragraph {
      font-size: 1.8rem; }
      @media all and (max-width: 1439px) {
        .packages__text__paragraph {
          font-size: 1.25VW; } }
      @media all and (max-width: 996px) {
        .packages__text__paragraph {
          font-size: 1.8rem;
          text-align: left; } }
      @media all and (max-width: 600px) {
        .packages__text__paragraph {
          font-size: 1.75rem; } }
  .packages__btn-inner-wrapper {
    display: flex;
    align-items: center; }
  .packages__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    padding-left: 0.3rem;
    border-radius: 50%;
    border: 1px solid #6d7893; }
  .packages__btn-text {
    font-family: "Open-sans-regular";
    width: 14.1rem;
    font-size: 1.5rem;
    line-height: 1.2rem;
    font-weight: 400;
    margin-left: 1.5rem; }

.footer {
  height: 24.4rem;
  background-color: #24345c;
  position: relative;
  font-size: 1.4rem;
  color: #d6d6d6;
  padding-top: 3rem; }
  @media all and (max-width: 1439px) {
    .footer {
      padding-top: 2.083333333333333vw; } }
  @media all and (max-width: 700px) {
    .footer {
      height: fit-content;
      font-size: 1.8rem; } }
  .footer__content-wrapper {
    width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    @media all and (max-width: 1439px) {
      .footer__content-wrapper {
        width: 100%; } }
  .footer__content {
    display: flex;
    padding-left: 8rem; }
    @media all and (max-width: 1439px) {
      .footer__content {
        padding-left: 5.555555555555555vw; } }
    @media all and (max-width: 996px) {
      .footer__content {
        padding-left: 2rem;
        margin: 0 auto; } }
    @media all and (max-width: 700px) {
      .footer__content {
        flex-direction: column;
        padding-left: 0px;
        margin: 0px auto; } }
  .footer__links {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #6d7893;
    width: 17rem;
    height: 12.6rem;
    padding-top: 1.1rem; }
    @media all and (max-width: 700px) {
      .footer__links {
        border-right: none; } }
    .footer__links__item {
      color: inherit;
      font-weight: 300; }
      .footer__links__item:not(:last-child) {
        padding-bottom: 1.8rem; }
    @media all and (max-width: 996px) {
      .footer__links {
        width: 15rem; } }
    @media all and (max-width: 700px) {
      .footer__links {
        width: 100%;
        margin-top: 2rem;
        order: 1; } }
  .footer__blog-faq {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #6d7893;
    width: 18.3rem;
    height: 12.6rem;
    padding-top: 1.1rem;
    padding-left: 3.3rem; }
    @media all and (max-width: 700px) {
      .footer__blog-faq {
        border-right: none; } }
    .footer__blog-faq__blog {
      color: inherit;
      padding-bottom: 2.1rem; }
    .footer__blog-faq__faq {
      color: inherit;
      text-transform: uppercase; }
    @media all and (max-width: 1439px) {
      .footer__blog-faq {
        padding-left: 2.2916666666666665vw; } }
    @media all and (max-width: 1100px) {
      .footer__blog-faq {
        width: 15rem; } }
    @media all and (max-width: 996px) {
      .footer__blog-faq {
        width: 8rem;
        padding-left: 1rem; } }
    @media all and (max-width: 700px) {
      .footer__blog-faq {
        padding-left: 0px;
        order: 2; } }
  .footer__address-wrapper {
    font-style: normal;
    font-family: "Open-sans-regular"; }
  .footer__address-inner-wrapper {
    display: flex;
    align-items: center;
    padding-top: .5rem; }
  .footer__address {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #6d7893;
    width: 30.1rem;
    height: 12.6rem;
    padding-top: 1.2rem;
    padding-left: 4.9rem; }
    @media all and (max-width: 700px) {
      .footer__address {
        border-right: none; } }
    .footer__address__city {
      font-family: "Montserrat";
      font-size: 1.6rem;
      font-weight: 400;
      color: #fff; }
      @media all and (max-width: 700px) {
        .footer__address__city {
          font-size: 2.2rem; } }
    .footer__address__location-icon {
      padding-right: 1.2rem; }
    @media all and (max-width: 1439px) {
      .footer__address {
        padding-left: 3.4027777777777777vw; } }
    @media all and (max-width: 700px) {
      .footer__address {
        padding-left: 0px;
        padding-top: 3rem;
        height: fit-content;
        margin-bottom: 1rem;
        order: 5; } }
  .footer__mon-fri {
    padding-top: 1.9rem; }
  .footer__sat {
    padding-top: 1rem; }
  .footer__property {
    height: 12.6rem;
    width: 16.8rem;
    padding-top: 2.1rem;
    margin-left: 4.8rem; }
    .footer__property__text {
      font-size: 1.2rem;
      padding-left: 1.2rem;
      padding-bottom: 2.7rem; }
      @media all and (max-width: 700px) {
        .footer__property__text {
          display: none; } }
    @media all and (max-width: 1439px) {
      .footer__property {
        margin-left: 3.3333333333333335vw; } }
    @media all and (max-width: 700px) {
      .footer__property {
        width: fit-content;
        height: fit-content;
        order: 3; } }
  .footer__social-icons {
    width: fit-content;
    margin-left: 20rem;
    padding-top: 1.4rem; }
    .footer__social-icons__item:not(:first-child) {
      margin-left: 1rem; }
    .footer__social-icons div {
      display: inline;
      margin-left: 1rem; }
      @media all and (max-width: 1200px) {
        .footer__social-icons div {
          display: block;
          margin-left: 0px;
          margin-top: 1rem; } }
      @media all and (max-width: 700px) {
        .footer__social-icons div {
          display: inline-block;
          margin-left: 1rem; } }
    @media all and (max-width: 1439px) {
      .footer__social-icons {
        margin-left: 5rem; } }
    @media all and (max-width: 1200px) {
      .footer__social-icons {
        margin-left: 1rem; } }
    @media all and (max-width: 700px) {
      .footer__social-icons {
        order: 4;
        margin-bottom: 2rem; } }
  .footer__terms {
    display: flex;
    height: 5rem;
    padding-left: 8rem;
    border-top: 1px solid #6d7893;
    margin-top: 3.5rem;
    align-items: center;
    font-family: "Montserrat-light"; }
    @media all and (max-width: 1439px) {
      .footer__terms {
        padding-left: 5.555555555555555vw; } }
    @media all and (max-width: 996px) {
      .footer__terms {
        margin: 0 auto;
        margin-top: 3.5rem;
        padding-left: 2rem; } }
    @media all and (max-width: 700px) {
      .footer__terms {
        height: fit-content;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        margin-top: 3rem;
        padding-top: 3rem;
        text-align: start;
        align-items: flex-start; } }
    @media all and (max-width: 700px) {
      .footer__terms__privacy {
        order: 2;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: -60px; } }
    .footer__terms__general {
      margin-left: 5.8rem; }
      @media all and (max-width: 700px) {
        .footer__terms__general {
          order: 1;
          margin-left: 0px;
          padding-bottom: 2rem;
          display: flex;
          justify-content: center;
          width: 100%; } }
    .footer__terms__rights {
      margin-left: 66.6rem; }
      @media all and (max-width: 1439px) {
        .footer__terms__rights {
          margin-left: 51.6rem; } }
      @media all and (max-width: 1200px) {
        .footer__terms__rights {
          margin-left: 35rem; } }
      @media all and (max-width: 996px) {
        .footer__terms__rights {
          margin-left: 24rem; } }
      @media all and (max-width: 700px) {
        .footer__terms__rights {
          order: 3;
          margin-left: 0px;
          padding-bottom: 2rem;
          border-top: 1px solid #6d7893;
          padding-top: 3rem;
          display: flex;
          justify-content: center;
          width: 100%; } }
