.advertise {
    height: 87.6rem;
    padding-top: 7.7rem;

    @include responsive(desk) {
        padding-top: 5.347222222222222vw;
    }

    @media all and (max-width: 1100px) {
        height: 100vh;
        min-height: 600px;
    }

    @include responsive(tab) {
        height: fit-content;
    }

    &__content-wrapper {
        @include wrapper-center;
        padding-left: 12.2rem;

        @include responsive(desk) {
            width: 100%;
            padding-left: 8.472222222222223vw;
        }

        @include responsive (phone) {
            padding-left: 0px;
        }
    }

    &__content-inner-wrapper {
        width: 119.8rem;

        @include responsive(desk) {
            width: 83.19444444444444vw;
        }
        @include responsive (phone) {
            width: 90%;
            margin: 0 auto;
        }
    }

    &__banner {
        width: 97rem;
        height: 25rem;
        background-color: $black;
        border: 1px solid $grey-light;
        margin-left: 13.2rem;
        display: flex;

        @include responsive(desk) {
            width: 67.36111111111111vw;
            height: 17.36111111111111vw;
            margin-left: 9.166666666666666vw;
        }

        @include responsive(phone) {
            width: 100%;
            height: 250px;
            margin-left: 0px;
        }
    }

    &__article {
        display: flex;
        width: 119.8rem;
        margin-top: 6.1rem;

        @include responsive(desk) {
            width: 83.19444444444444vw;
            margin-top: 4.236111111111112vw;
        }

        @include responsive(tab) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }

    &__text {
        width: 54.3rem;
        color: $black-light;
        line-height: 3.55rem;
        font-weight: 400;

        @include responsive(desk) {
            width: 37.708333333333336vw;
            line-height: 2.4652777777777777vw;
        }

        @include responsive(tab) {
            width: 80%;
            text-align: center;
            line-height: 3.55rem;
        }

        @include responsive(phone) {
            width: 90%;
            text-align: left;
        }
    }

    &__title {
        font-size: 3.6rem;
        font-weight: inherit;

        @include responsive(desk) {
            font-size: 2.5vw;
        }

        @include responsive(tab) {
            font-size: 3.6rem;
        }

        @include responsive(phone) {
            font-size: 2.25rem;
        }
    }

    &__subtitle {
        font-size: 2rem;
        color: $grey-light;
        font-weight: inherit;
        margin-top: 3.5rem;

        @include responsive(desk) {
            font-size: 1.3888888888888888vw;
            margin-top: 2.430555555555556vw;
        }

        @include responsive(tab) {
            font-size: 2rem;
        }

        @include responsive(phone) {
            font-size: 1.8rem;
        }
    }

    &__paragraph {
        font-family: "Open-sans-light";
        color: $grey-light;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.7rem;
        margin-top: 3.4rem;

        @include responsive(desk) {
            font-size: 1.25vw;
            line-height: 1.875vw;
            margin-top: 2.361111111111111vw;
        }

        @include responsive(tab) {
            font-size: 1.8rem;
            line-height: 2.7rem;
        }

        @include responsive(phone) {
            font-size: 1.8rem;
        }
    }

    &__img {
        width: 58rem;
        height: 34rem;
        margin-top: 6.3rem;
        margin-left: 9.9rem;
        img {
            width: 100%;
            height: 100%;
        }

        @include responsive(desk) {
            width: 40.27777777777778vw;
            height: 23.61111111111111vw;
            margin-top: 4.375vw;
            margin-left: 6.875000000000001vw;
        }

        @include responsive(tab) {
            width: 58rem;
            height: 34rem;
            margin: 6.3rem auto 3rem auto;
        }

        @include responsive(phone) {
            width: 250px;
            height: 130px;
            margin-top: 3.6rem;
        }
    }

    &__btn-margin {
        margin-top: 3.6rem;

        @include responsive(desk) {
            margin-top: 2.5vw;
        }

        @include responsive(tab) {
            margin: auto;
            margin-top: 2.5vw;
        }

        @include responsive(phone) {
            margin-top: 3.6rem;
        }
    }
}