// Colors
$black: #000;
$black-light: #414042;
$white: #fff;
$white-pale:#d6d6d6;
$white-tertiary: #d5d5d5;
$green-light: #50e3b3;
$grey: #6b696c;
$grey-secondary:#6d7893;
$grey-light: #979797;
$blue:  #182545;
$blue-dark: #24345c;
$mint-green: #50e3c2;
$light-yellow: #ffcd81;
$yellow: #ffb74a;